@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Superinfo */

.superinfo-bg {
  background-color: #122ab2;
  color: white;
}

.superinfo {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p, a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

/* MENU */

.menu-bg {
  background-color: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* INTRODUÇÃO */

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  font-weight: bold;
  padding: 60px 10px;
}

/* SOBRE */

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0px 10px;
}

/* PRODUTOS */

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0px 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background-color: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}