@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Superinfo */

.superinfo-bg {
  background-color: #122ab2;
  color: white;
}

.superinfo {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p, a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}